@model Sitefinity.EnhancedForms.Mvc.Models.DateField.DateFieldViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Forms.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;

@Html.StyleSheet(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.Kendo.styles.kendo_common_min.css"), "head", false)
@if (SystemManager.IsDesignMode || SystemManager.IsPreviewMode)
{
    @Html.StyleSheet(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.Kendo.styles.kendo_bootstrap_min.css"), "bottom", false)
}
else
{
    @Html.StyleSheet(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.Kendo.styles.kendo_bootstrap_min.css"), "head", false)
}

<style>
    .k-widget .k-tooltip-validation {
        display: none !important;
    }
</style>

<div class="@Model.CssClass sf-fieldWrp" data-sf-role="date-field-container">
    <input data-sf-role="violation-messages" type="hidden" value='{"required": "@Model.RequiredViolationMessage", "invalid": "@Html.Resource("InvalidEntryMessage")", "regularExpression": "@Model.ValidatorDefinition.RegularExpressionViolationMessage"}' />
    <label for='@Html.UniqueId("DateTextbox")'>@Model.MetaField.Title</label>
    <input id='@Html.UniqueId("DateTextbox")'
           data-sf-input-type="@Model.InputType.ToString()"
           data-sf-role="date-field-input"
           type="text"
           name="@Model.MetaField.FieldName"
           placeholder="@Model.PlaceholderText"
           value="@Model.Value" @Html.Raw(Model.ValidationAttributes) />

    @if (!string.IsNullOrEmpty(Model.MetaField.Description))
    {
        <p>@Model.MetaField.Description</p>
    }

    <div id='@Html.UniqueId("TextboxErrorMessage")' data-sf-role="error-message" role="alert" aria-live="assertive" class="text-danger"></div>
</div>

@if (!SystemManager.IsDesignMode || SystemManager.IsPreviewMode)
{
    @Html.Script(ScriptRef.JQuery, "top", false)
    @Html.Script(ScriptRef.KendoAll, "top", false)
    @Html.Script(Url.WidgetContent("Mvc/Scripts/DateField/date-field.js"), "bottom", false)
}